// color palette - these colors will be the color swatches of the Colors section

$primary-color: #4dcbde; // Light Blue (action color)
$secondary-color: #EC5270; // Pink
$tertiary-color: #FF810C; // Orange
$forground-neutral-color: #FFFFFF; // White
$background-neutral-color: #000000; // Black

$primary-dark-color: #2428dc; // Bright Blue
$tertiary-light-color: lighten($tertiary-color, 15); // LightOrange

// additional colors

$success: #6fce72; // Green
$alert: $secondary-color;  // Pink

body {
	/* this is the page background */
	background-color: $background-neutral-color;
	color: $forground-neutral-color
}
