// breakpoints
$S:  768px;   
$M: 1024px;     
$L: 1600px;   

.intro {
  overflow: hidden;
}

header {
  position: relative;
  @include transform(rotate(-7deg));
  transform-origin: 0 0;
  width: 150%;
  right: 2rem;
  margin: 2rem 0;
}

// media queries
