// breakpoints
$S:  768px;
$M: 1024px;
$L: 1600px;

$l-padding: 50px;
$s-padding: 10px;

 .intro {
    overflow: hidden;

    header {
      position: relative;
      @include transform(rotate(-7deg));
      transform-origin: 0 0;
      width: 150%;
      right: 2rem;
      margin: 2rem 0 0;
    }
  }

.sidebar {
    display: none;
  }

  .summary {
    width: 100%;
    height: auto;
    padding: 0 $s-padding;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 0px;

    p {
      width: 50%;
    }
    p+p {
      margin-top: 10px;
    }
  }



// media queries

@media screen and (min-width: $M) {
  .summary {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: $l-padding;
    margin-top: -100px;

    p {
      width: 450px;
    }
    p+p {
      margin-top: 10px;
    }
  }

  .sidebar {
    display: block;
    position: absolute;
    top: 220px;
    right: 50px + $l-padding;
  }
}