 .intro {
    overflow: hidden;
    min-width: 28.5rem;

    header {
      position: relative;
      @include transform(rotate(-7deg));
      transform-origin: 0 0;
      width: 150%;
      right: 2rem;
      margin: 2rem 0 0;
    }
  }

  .summary {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 $s-overall-padding;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0px;
    &::before {
      @extend %donkey-kong;
    }
    &::after {
      @extend %pauline;
    }

    p {
      width: 50%;
    }
  }

  .preamble {
    padding: 0 $s-overall-padding;
    margin-top: $platform-space;
    h3 {
     position: relative;
     margin-left: $barrel-space;
      &::after {
        @extend %barrel;
      }
    }
    p {
      margin-right: $s-staggered-padding;
    }
  }
  .supporting {
    padding: 0 $s-overall-padding;

    div{
      margin-top: $platform-space;
    }
    & > div:nth-of-type(2n + 1) {
      h3 {
        position: relative;
        margin-left: calc(#{$s-staggered-padding} + #{$barrel-space});
        &::after {
          @extend %barrel;
        }
      }
      p{
        margin-left: $s-staggered-padding;
      }
    }
    & > div:nth-of-type(2n + 0) {
      h3 {
        position: relative;
        margin-left: $barrel-space;
        &::after {
          @extend %barrel;
        }
      }
      p {
        margin-right: $s-staggered-padding;
      }
      [role="contentinfo"] {
        margin: $platform-space 0px 0px;
        text-align: center;
      }
    }

  }

  p+p {
    margin-top: 10px;
  }

  footer {
    position: relative;
    text-align: center;
    margin-top: 30px;
    &::after {
      @extend %mario;
    }
    @media screen and (min-width: $M) {
      margin-top: 60px;
    }

    & a {
      display: inline-block;
      overflow: hidden;
      width: 40px;
      height: 40px;
      padding: 40px 0 0 0;
      margin: 0 0.5em;
      position: relative;
    //   color: rgba(255, 255, 255, 0.5);
    //   -webkit-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    //   -moz-transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    //   transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    }
    & a:hover, & a:focus {
      // color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
    }

    & a::before {
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      overflow: visible;
      font-size: 36px;
      text-indent: 0;

      /* icomoon.io defaults */
      font-family: 'verdemoderna';
      speak: none;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }
      & a.zen-validate-html::before {content: "5";}
      & a.zen-validate-html:hover::before, & a.zen-validate-html:focus::before {content: "%";}
      & a.zen-validate-css::before {content: "3";}
      & a.zen-validate-css:hover::before, & a.zen-validate-css:focus::before {content: "#";}
      & a.zen-license::before {content: "c";}
      & a.zen-license:hover::before, & a.zen-license:focus::before {content: "C";}
      & a.zen-accessibility::before {content: "a";}
      & a.zen-accessibility:hover::before, & a.zen-accessibility:focus::before {content: "A";}
      & a.zen-github::before {content: "g";}
      & a.zen-github:hover::before, & a.zen-github:focus::before {content: "G";}

  }

@media screen and (min-width: $M) {
  .summary {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: $l-overall-padding;
    margin-top: -70px;

    p {
      width: 415px;
    }
    p+p {
      margin-top: 10px;
    }
  }

  .preamble {
    padding: 0 0 0 $l-overall-padding;

    p {
      margin-right: $l-staggered-padding;
    }
  }
  .supporting {
    padding: 0 $l-overall-padding;

    & > div:nth-of-type(2n + 1) {
      h3 {
        margin-left: calc(#{$l-staggered-padding} + #{$barrel-space});
      }
      p{
        margin-left: $l-staggered-padding;
      }
    }
    & > div:nth-of-type(2n + 0) {
      h3 {
        margin-left: $barrel-space;
      }
      p {
        margin-right: $l-staggered-padding;
      }
    }

  }

}


/* icon fonts */
@font-face {
  font-family: 'verdemoderna';
  src:url('verdemoderna.eot');
  src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
    url('verdemoderna.woff') format('woff'),
    url('verdemoderna.ttf') format('truetype'),
    url('verdemoderna.svg#verdemoderna') format('svg');
  font-weight: normal;
  font-style: normal;
}