@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

@mixin display-flex() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}

@mixin prefix($name, $value) {
  @each $prefix in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$prefix}#{$name}: #{$value};
  }
}