/* --------------------------------
xGeneral Typography
-------------------------------- */

body {
  font-family: $primary-font;
}

h1, h2, h3 {
  font-family: $secondary-font;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 1rem 0 .4rem 0;
  text-transform: uppercase;
  color: $background-neutral-color;
  background-color: $primary-color;
  padding: 1.6rem .8rem .4rem 2.4rem;
  letter-spacing: .1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $secondary-color;
  text-shadow: -.1rem .1rem $background-neutral-color;
  background-color: $primary-color;
  padding: .4rem .8rem .4rem 2.4rem;
  letter-spacing: .1rem;
}

h3 {
  font-size: 1.3rem;
  color: $forground-neutral-color;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.4;
  color: $forground-neutral-color;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover, &:focus {
    color: $secondary-color;
    text-decoration: underline;
  }
}

@media screen and (max-width: $M) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
