@import url(https://fonts.googleapis.com/css?family=Anton);

// breakpoints
$S: 35rem;
$M: 64rem;
$L: 100rem;

// padding
$s-overall-padding: .63rem;
$l-overall-padding: 3.13rem;

$s-staggered-padding: 30%;
$l-staggered-padding: 10%;

$platform-space: 3.13rem;
$barrel-space: 2.5rem;

// fonts
$primary-font: Verdana, Geneva, sans-serif;
$secondary-font: Anton, Impact, Haettenschweiler, sans-serif;

// color palette - these colors will be the color swatches of the Colors section

$primary-color: #4dcbde; // Light Blue (action color)
$secondary-color: #EC5270; // Pink
$tertiary-color: #FF810C; // Orange
$forground-neutral-color: #FFFFFF; // White
$background-neutral-color: #000000; // Black

$primary-dark-color: #2428dc; // Bright Blue
$tertiary-light-color: lighten($tertiary-color, 15); // LightOrange

// additional colors

$success: #6fce72; // Green
$alert: $secondary-color;  // Pink

