main > h1::after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2px -6px #f0c9a6, 2px -8px #f0c9a6, 4px -6px #f0c9a6, 4px -8px #f0c9a6, 4px -10px #f0c9a6, 6px -6px #f0c9a6, 6px -8px #f0c9a6, 6px -10px #f0c9a6, 8px -6px #f0c9a6, 8px -8px #bc572c, 8px -10px #f0c9a6, 8px -12px #bc572c, 8px -34px #bc572c, 8px -36px #bc572c, 8px -38px #bc572c, 8px -40px #bc572c, 10px -6px #f0c9a6, 10px -8px #f0c9a6, 10px -10px #bc572c, 10px -12px #bc572c, 10px -14px #bc572c, 10px -16px #bc572c, 10px -18px #f0834f, 10px -20px #f0834f, 10px -32px #bc572c, 10px -34px #bc572c, 10px -36px #bc572c, 10px -38px #bc572c, 10px -40px #bc572c, 10px -42px #f0834f, 12px -6px #f0c9a6, 12px -8px #f0c9a6, 12px -10px #bc572c, 12px -12px #bc572c, 12px -14px #bc572c, 12px -16px #bc572c, 12px -18px #bc572c, 12px -20px #bc572c, 12px -22px #f0834f, 12px -30px #bc572c, 12px -32px #bc572c, 12px -34px #bc572c, 12px -36px #bc572c, 12px -38px #bc572c, 12px -40px #bc572c, 12px -42px #bc572c, 12px -44px #f0834f, 14px -6px #bc572c, 14px -8px #f0c9a6, 14px -10px #bc572c, 14px -12px #bc572c, 14px -14px #bc572c, 14px -16px #bc572c, 14px -18px #bc572c, 14px -20px #bc572c, 14px -22px #f0834f, 14px -28px #bc572c, 14px -30px #bc572c, 14px -32px #bc572c, 14px -34px #bc572c, 14px -36px #bc572c, 14px -38px #bc572c, 14px -40px #bc572c, 14px -42px #bc572c, 14px -44px #f0834f, 16px -6px #f0c9a6, 16px -8px #bc572c, 16px -10px #bc572c, 16px -12px #bc572c, 16px -14px #bc572c, 16px -16px #bc572c, 16px -18px #bc572c, 16px -20px #bc572c, 16px -22px #bc572c, 16px -24px #f0834f, 16px -28px #bc572c, 16px -30px #bc572c, 16px -32px #bc572c, 16px -34px #bc572c, 16px -36px #bc572c, 16px -38px #bc572c, 16px -40px #bc572c, 16px -42px #bc572c, 16px -44px #bc572c, 16px -46px #f0834f, 18px -6px #f0c9a6, 18px -8px #bc572c, 18px -10px #bc572c, 18px -12px #bc572c, 18px -14px #bc572c, 18px -16px #bc572c, 18px -18px #bc572c, 18px -20px #bc572c, 18px -22px #bc572c, 18px -24px #f0834f, 18px -28px #bc572c, 18px -30px #bc572c, 18px -32px #bc572c, 18px -34px #bc572c, 18px -36px #bc572c, 18px -38px #bc572c, 18px -40px #f0834f, 18px -42px #bc572c, 18px -44px #bc572c, 18px -46px #bc572c, 18px -48px #f0834f, 20px -6px #f0c9a6, 20px -8px #bc572c, 20px -10px #bc572c, 20px -12px #bc572c, 20px -14px #bc572c, 20px -16px #bc572c, 20px -18px #bc572c, 20px -20px #bc572c, 20px -22px #bc572c, 20px -24px #f0834f, 20px -26px #bc572c, 20px -28px #bc572c, 20px -30px #bc572c, 20px -32px #bc572c, 20px -34px #bc572c, 20px -36px #bc572c, 20px -38px #f0834f, 20px -40px #bc572c, 20px -42px #bc572c, 20px -44px #bc572c, 20px -46px #bc572c, 20px -48px #f0834f, 22px -6px #f0c9a6, 22px -8px #bc572c, 22px -10px #bc572c, 22px -12px #bc572c, 22px -14px #bc572c, 22px -16px #bc572c, 22px -18px #bc572c, 22px -20px #bc572c, 22px -22px #bc572c, 22px -24px #f0834f, 22px -26px #bc572c, 22px -28px #bc572c, 22px -30px #bc572c, 22px -32px #bc572c, 22px -34px #bc572c, 22px -36px #f0834f, 22px -38px #f0834f, 22px -40px #bc572c, 22px -42px #bc572c, 22px -44px #bc572c, 22px -46px #bc572c, 22px -48px #bc572c, 22px -50px #f0834f, 24px -10px #bc572c, 24px -12px #bc572c, 24px -14px #bc572c, 24px -16px #bc572c, 24px -18px #bc572c, 24px -20px #bc572c, 24px -22px #bc572c, 24px -24px #bc572c, 24px -26px #bc572c, 24px -28px #bc572c, 24px -30px #bc572c, 24px -32px #bc572c, 24px -34px #f0834f, 24px -36px #f0834f, 24px -38px #bc572c, 24px -40px #bc572c, 24px -42px #bc572c, 24px -44px #bc572c, 24px -46px #bc572c, 24px -48px #bc572c, 24px -50px #bc572c, 26px -12px #bc572c, 26px -14px #bc572c, 26px -16px #bc572c, 26px -18px #bc572c, 26px -20px #bc572c, 26px -22px #bc572c, 26px -24px #bc572c, 26px -26px #bc572c, 26px -28px #bc572c, 26px -30px #bc572c, 26px -32px #bc572c, 26px -34px #f0834f, 26px -36px #f0834f, 26px -38px #bc572c, 26px -40px #bc572c, 26px -42px #bc572c, 26px -44px #bc572c, 26px -46px #bc572c, 26px -48px #bc572c, 26px -50px #bc572c, 26px -52px #f0c9a6, 26px -54px #f0c9a6, 28px -12px #bc572c, 28px -14px #bc572c, 28px -16px #bc572c, 28px -18px #f0834f, 28px -20px #bc572c, 28px -22px #bc572c, 28px -24px #f0834f, 28px -26px #bc572c, 28px -28px #bc572c, 28px -30px #bc572c, 28px -32px #bc572c, 28px -34px #f0834f, 28px -36px #bc572c, 28px -38px #bc572c, 28px -40px #bc572c, 28px -42px #bc572c, 28px -44px #f0c9a6, 28px -46px #f0c9a6, 28px -48px #f0c9a6, 28px -50px #bc572c, 28px -52px #f0c9a6, 28px -54px #f0c9a6, 28px -56px #f0c9a6, 30px -12px #bc572c, 30px -14px #bc572c, 30px -16px #bc572c, 30px -18px #bc572c, 30px -20px #bc572c, 30px -22px #bc572c, 30px -24px #f0834f, 30px -26px #bc572c, 30px -28px #bc572c, 30px -30px #bc572c, 30px -32px #bc572c, 30px -34px #bc572c, 30px -36px #bc572c, 30px -38px #bc572c, 30px -40px #bc572c, 30px -42px #f0c9a6, 30px -44px #f0c9a6, 30px -46px #f0c9a6, 30px -48px #f0c9a6, 30px -50px #f0c9a6, 30px -52px #f0c9a6, 30px -54px #f0c9a6, 30px -56px #f0c9a6, 32px -12px #bc572c, 32px -14px #bc572c, 32px -16px #bc572c, 32px -18px #bc572c, 32px -20px #bc572c, 32px -22px #f0834f, 32px -24px #f0c9a6, 32px -26px #bc572c, 32px -28px #bc572c, 32px -30px #bc572c, 32px -32px #f0c9a6, 32px -34px #f0c9a6, 32px -36px #bc572c, 32px -38px #bc572c, 32px -40px #f0c9a6, 32px -42px #f0c9a6, 32px -44px #bc572c, 32px -46px #ffffff, 32px -48px #f0c9a6, 32px -50px #f0c9a6, 32px -52px #bc572c, 32px -54px #bc572c, 32px -56px #bc572c, 34px -14px #f0834f, 34px -16px #bc572c, 34px -18px #f0834f, 34px -20px #f0834f, 34px -22px #f0834f, 34px -24px #f0c9a6, 34px -26px #f0c9a6, 34px -28px #bc572c, 34px -30px #f0c9a6, 34px -32px #f0c9a6, 34px -34px #f0c9a6, 34px -36px #bc572c, 34px -38px #bc572c, 34px -40px #f0c9a6, 34px -42px #ffffff, 34px -44px #ffffff, 34px -46px #ffffff, 34px -48px #ffffff, 34px -50px #f0c9a6, 34px -52px #bc572c, 34px -54px #bc572c, 34px -56px #bc572c, 34px -58px #bc572c, 36px -14px #bc572c, 36px -16px #f0834f, 36px -18px #f0c9a6, 36px -20px #f0c9a6, 36px -22px #f0834f, 36px -24px #f0c9a6, 36px -26px #bc572c, 36px -28px #f0c9a6, 36px -30px #bc572c, 36px -32px #f0c9a6, 36px -34px #f0c9a6, 36px -36px #bc572c, 36px -38px #bc572c, 36px -40px #f0c9a6, 36px -42px #ffffff, 36px -44px #bc572c, 36px -46px #ffffff, 36px -48px #ffffff, 36px -50px #f0c9a6, 36px -52px #bc572c, 36px -54px #bc572c, 36px -56px #f0c9a6, 36px -58px #bc572c, 36px -60px #bc572c, 38px -14px #bc572c, 38px -16px #f0c9a6, 38px -18px #f0834f, 38px -20px #f0c9a6, 38px -22px #f0834f, 38px -24px #f0c9a6, 38px -26px #f0c9a6, 38px -28px #f0c9a6, 38px -30px #f0c9a6, 38px -32px #f0c9a6, 38px -34px #bc572c, 38px -36px #bc572c, 38px -38px #f0c9a6, 38px -40px #f0c9a6, 38px -42px #bc572c, 38px -44px #bc572c, 38px -46px #bc572c, 38px -48px #f0c9a6, 38px -50px #f0c9a6, 38px -52px #f0c9a6, 38px -54px #f0c9a6, 38px -56px #f0c9a6, 38px -58px #f0c9a6, 38px -60px #bc572c, 38px -62px #bc572c, 40px -14px #f0834f, 40px -16px #f0834f, 40px -18px #f0c9a6, 40px -20px #f0c9a6, 40px -22px #f0834f, 40px -24px #f0c9a6, 40px -26px #f0c9a6, 40px -28px #f0c9a6, 40px -30px #f0c9a6, 40px -32px #f0c9a6, 40px -34px #bc572c, 40px -36px #bc572c, 40px -38px #f0c9a6, 40px -40px #ffffff, 40px -42px #ffffff, 40px -44px #bc572c, 40px -46px #ffffff, 40px -48px #f0c9a6, 40px -50px #f0c9a6, 40px -52px #f0c9a6, 40px -54px #f0c9a6, 40px -56px #f0c9a6, 40px -58px #f0c9a6, 40px -60px #f0c9a6, 40px -62px #bc572c, 40px -64px #bc572c, 42px -14px #bc572c, 42px -16px #f0c9a6, 42px -18px #f0834f, 42px -20px #f0c9a6, 42px -22px #f0c9a6, 42px -24px #f0834f, 42px -26px #f0c9a6, 42px -28px #f0c9a6, 42px -30px #f0c9a6, 42px -32px #f0834f, 42px -34px #bc572c, 42px -36px #bc572c, 42px -38px #f0c9a6, 42px -40px #ffffff, 42px -42px #ffffff, 42px -44px #ffffff, 42px -46px #ffffff, 42px -48px #f0c9a6, 42px -50px #f0c9a6, 42px -52px #f0c9a6, 42px -54px #ffffff, 42px -56px #ffffff, 42px -58px #f0c9a6, 42px -60px #f0c9a6, 42px -62px #bc572c, 42px -64px #bc572c, 44px -14px #f0834f, 44px -16px #f0834f, 44px -18px #f0c9a6, 44px -20px #f0c9a6, 44px -22px #f0c9a6, 44px -24px #f0c9a6, 44px -26px #f0834f, 44px -28px #f0834f, 44px -30px #f0834f, 44px -32px #bc572c, 44px -34px #bc572c, 44px -36px #bc572c, 44px -38px #f0c9a6, 44px -40px #ffffff, 44px -42px #ffffff, 44px -44px #bc572c, 44px -46px #ffffff, 44px -48px #f0c9a6, 44px -50px #bc572c, 44px -52px #f0c9a6, 44px -54px #bc572c, 44px -56px #ffffff, 44px -58px #f0c9a6, 44px -60px #bc572c, 44px -62px #bc572c, 44px -64px #bc572c, 46px -14px #bc572c, 46px -16px #f0c9a6, 46px -18px #f0c9a6, 46px -20px #f0c9a6, 46px -22px #f0c9a6, 46px -24px #f0c9a6, 46px -26px #f0834f, 46px -28px #f0834f, 46px -30px #f0834f, 46px -32px #bc572c, 46px -34px #bc572c, 46px -36px #bc572c, 46px -38px #f0c9a6, 46px -40px #f0c9a6, 46px -42px #bc572c, 46px -44px #bc572c, 46px -46px #bc572c, 46px -48px #f0c9a6, 46px -50px #bc572c, 46px -52px #f0c9a6, 46px -54px #f0c9a6, 46px -56px #f0c9a6, 46px -58px #bc572c, 46px -60px #bc572c, 46px -62px #bc572c, 46px -64px #bc572c, 48px -14px #bc572c, 48px -16px #bc572c, 48px -18px #f0834f, 48px -20px #f0c9a6, 48px -22px #f0c9a6, 48px -24px #f0834f, 48px -26px #f0c9a6, 48px -28px #f0c9a6, 48px -30px #f0c9a6, 48px -32px #f0834f, 48px -34px #bc572c, 48px -36px #bc572c, 48px -38px #f0c9a6, 48px -40px #ffffff, 48px -42px #ffffff, 48px -44px #bc572c, 48px -46px #ffffff, 48px -48px #f0c9a6, 48px -50px #bc572c, 48px -52px #f0c9a6, 48px -54px #bc572c, 48px -56px #ffffff, 48px -58px #f0c9a6, 48px -60px #bc572c, 48px -62px #bc572c, 48px -64px #bc572c, 50px -14px #f0834f, 50px -16px #f0834f, 50px -18px #f0c9a6, 50px -20px #f0c9a6, 50px -22px #f0834f, 50px -24px #f0c9a6, 50px -26px #f0c9a6, 50px -28px #f0c9a6, 50px -30px #f0c9a6, 50px -32px #f0c9a6, 50px -34px #bc572c, 50px -36px #bc572c, 50px -38px #f0c9a6, 50px -40px #ffffff, 50px -42px #ffffff, 50px -44px #ffffff, 50px -46px #ffffff, 50px -48px #f0c9a6, 50px -50px #f0c9a6, 50px -52px #f0c9a6, 50px -54px #ffffff, 50px -56px #ffffff, 50px -58px #f0c9a6, 50px -60px #f0c9a6, 50px -62px #bc572c, 50px -64px #bc572c, 52px -14px #bc572c, 52px -16px #f0c9a6, 52px -18px #f0834f, 52px -20px #f0c9a6, 52px -22px #f0834f, 52px -24px #f0c9a6, 52px -26px #f0c9a6, 52px -28px #f0c9a6, 52px -30px #f0c9a6, 52px -32px #f0834f, 52px -34px #bc572c, 52px -36px #bc572c, 52px -38px #f0c9a6, 52px -40px #ffffff, 52px -42px #ffffff, 52px -44px #bc572c, 52px -46px #ffffff, 52px -48px #f0c9a6, 52px -50px #f0c9a6, 52px -52px #f0c9a6, 52px -54px #f0c9a6, 52px -56px #f0c9a6, 52px -58px #f0c9a6, 52px -60px #f0c9a6, 52px -62px #bc572c, 52px -64px #bc572c, 54px -12px #bc572c, 54px -14px #bc572c, 54px -16px #f0834f, 54px -18px #f0c9a6, 54px -20px #f0c9a6, 54px -22px #f0834f, 54px -24px #f0c9a6, 54px -26px #bc572c, 54px -28px #f0c9a6, 54px -30px #f0c9a6, 54px -32px #f0c9a6, 54px -34px #bc572c, 54px -36px #bc572c, 54px -38px #f0c9a6, 54px -40px #f0c9a6, 54px -42px #bc572c, 54px -44px #bc572c, 54px -46px #bc572c, 54px -48px #f0c9a6, 54px -50px #f0c9a6, 54px -52px #f0c9a6, 54px -54px #f0c9a6, 54px -56px #f0c9a6, 54px -58px #f0c9a6, 54px -60px #bc572c, 54px -62px #bc572c, 56px -10px #bc572c, 56px -12px #bc572c, 56px -14px #f0834f, 56px -16px #bc572c, 56px -18px #f0834f, 56px -20px #f0834f, 56px -22px #f0834f, 56px -24px #f0c9a6, 56px -26px #f0c9a6, 56px -28px #f0c9a6, 56px -30px #f0c9a6, 56px -32px #f0834f, 56px -34px #bc572c, 56px -36px #bc572c, 56px -38px #bc572c, 56px -40px #f0c9a6, 56px -42px #ffffff, 56px -44px #bc572c, 56px -46px #ffffff, 56px -48px #ffffff, 56px -50px #f0c9a6, 56px -52px #bc572c, 56px -54px #bc572c, 56px -56px #f0c9a6, 56px -58px #bc572c, 56px -60px #bc572c, 58px -8px #f0c9a6, 58px -10px #bc572c, 58px -12px #bc572c, 58px -14px #bc572c, 58px -16px #bc572c, 58px -18px #bc572c, 58px -20px #bc572c, 58px -22px #f0834f, 58px -24px #f0c9a6, 58px -26px #f0c9a6, 58px -28px #f0c9a6, 58px -30px #f0c9a6, 58px -32px #f0c9a6, 58px -34px #bc572c, 58px -36px #bc572c, 58px -38px #bc572c, 58px -40px #f0c9a6, 58px -42px #ffffff, 58px -44px #ffffff, 58px -46px #ffffff, 58px -48px #ffffff, 58px -50px #f0c9a6, 58px -52px #bc572c, 58px -54px #bc572c, 58px -56px #bc572c, 58px -58px #bc572c, 60px -4px #f0c9a6, 60px -6px #f0c9a6, 60px -8px #bc572c, 60px -10px #bc572c, 60px -12px #bc572c, 60px -14px #bc572c, 60px -16px #bc572c, 60px -18px #bc572c, 60px -20px #bc572c, 60px -22px #bc572c, 60px -24px #f0834f, 60px -26px #f0834f, 60px -28px #f0834f, 60px -30px #bc572c, 60px -32px #bc572c, 60px -34px #bc572c, 60px -36px #bc572c, 60px -38px #bc572c, 60px -40px #bc572c, 60px -42px #f0c9a6, 60px -44px #f0c9a6, 60px -46px #ffffff, 60px -48px #f0c9a6, 60px -50px #f0c9a6, 60px -52px #f0c9a6, 60px -54px #f0c9a6, 60px -56px #f0c9a6, 62px -2px #f0c9a6, 62px -4px #f0c9a6, 62px -6px #bc572c, 62px -8px #bc572c, 62px -10px #bc572c, 62px -12px #bc572c, 62px -14px #bc572c, 62px -16px #bc572c, 62px -18px #bc572c, 62px -20px #bc572c, 62px -22px #f0834f, 62px -24px #bc572c, 62px -26px #f0834f, 62px -28px #f0834f, 62px -30px #bc572c, 62px -32px #f0834f, 62px -34px #bc572c, 62px -36px #bc572c, 62px -38px #bc572c, 62px -40px #bc572c, 62px -42px #bc572c, 62px -44px #f0c9a6, 62px -46px #f0c9a6, 62px -48px #f0c9a6, 62px -50px #bc572c, 62px -52px #f0c9a6, 62px -54px #f0c9a6, 62px -56px #f0c9a6, 64px -2px #f0c9a6, 64px -4px #bc572c, 64px -6px #f0c9a6, 64px -8px #bc572c, 64px -10px #bc572c, 64px -12px #bc572c, 64px -14px #bc572c, 64px -16px #bc572c, 64px -18px #bc572c, 64px -20px #bc572c, 64px -22px #bc572c, 64px -24px #f0834f, 64px -26px #bc572c, 64px -28px #bc572c, 64px -30px #f0834f, 64px -32px #bc572c, 64px -34px #bc572c, 64px -36px #bc572c, 64px -38px #bc572c, 64px -40px #bc572c, 64px -42px #bc572c, 64px -44px #bc572c, 64px -46px #bc572c, 64px -48px #bc572c, 64px -50px #bc572c, 64px -52px #f0c9a6, 64px -54px #f0c9a6, 66px -2px #f0c9a6, 66px -4px #f0c9a6, 66px -6px #f0c9a6, 66px -8px #bc572c, 66px -10px #bc572c, 66px -12px #bc572c, 66px -14px #bc572c, 66px -16px #bc572c, 66px -18px #bc572c, 66px -20px #bc572c, 66px -22px #bc572c, 66px -24px #bc572c, 66px -26px #bc572c, 66px -28px #bc572c, 66px -30px #bc572c, 66px -32px #bc572c, 66px -34px #bc572c, 66px -36px #bc572c, 66px -38px #bc572c, 66px -40px #bc572c, 66px -42px #bc572c, 66px -44px #bc572c, 66px -46px #bc572c, 66px -48px #bc572c, 66px -50px #bc572c, 66px -52px #bc572c, 68px -2px #f0c9a6, 68px -4px #f0c9a6, 68px -6px #bc572c, 68px -8px #bc572c, 68px -10px #bc572c, 68px -12px #bc572c, 68px -14px #bc572c, 68px -16px #bc572c, 68px -18px #bc572c, 68px -20px #bc572c, 68px -22px #bc572c, 68px -24px #bc572c, 68px -26px #bc572c, 68px -28px #bc572c, 68px -30px #bc572c, 68px -32px #bc572c, 68px -34px #bc572c, 68px -36px #bc572c, 68px -38px #bc572c, 68px -40px #bc572c, 68px -42px #bc572c, 68px -44px #bc572c, 68px -46px #bc572c, 68px -48px #bc572c, 68px -50px #bc572c, 70px -2px #f0c9a6, 70px -4px #f0c9a6, 70px -6px #bc572c, 70px -8px #bc572c, 70px -10px #bc572c, 70px -12px #bc572c, 70px -14px #bc572c, 70px -16px #bc572c, 70px -18px #bc572c, 70px -20px #bc572c, 70px -22px #bc572c, 70px -24px #f0834f, 70px -26px #bc572c, 70px -28px #bc572c, 70px -30px #bc572c, 70px -32px #bc572c, 70px -34px #bc572c, 70px -36px #bc572c, 70px -38px #bc572c, 70px -40px #bc572c, 70px -42px #bc572c, 70px -44px #bc572c, 70px -46px #bc572c, 70px -48px #bc572c, 70px -50px #bc572c, 70px -60px #f0c9a6, 72px -2px #f0c9a6, 72px -4px #f0c9a6, 72px -6px #bc572c, 72px -8px #bc572c, 72px -10px #bc572c, 72px -12px #bc572c, 72px -14px #bc572c, 72px -16px #bc572c, 72px -18px #bc572c, 72px -20px #bc572c, 72px -22px #f0834f, 72px -32px #bc572c, 72px -34px #bc572c, 72px -36px #bc572c, 72px -38px #bc572c, 72px -40px #bc572c, 72px -42px #bc572c, 72px -44px #bc572c, 72px -46px #bc572c, 72px -48px #bc572c, 72px -50px #bc572c, 72px -56px #f0c9a6, 72px -58px #f0834f, 72px -60px #f0c9a6, 72px -62px #f0c9a6, 74px -2px #f0c9a6, 74px -4px #bc572c, 74px -6px #f0c9a6, 74px -8px #bc572c, 74px -10px #bc572c, 74px -12px #bc572c, 74px -14px #bc572c, 74px -16px #bc572c, 74px -18px #bc572c, 74px -20px #f0834f, 74px -34px #bc572c, 74px -36px #bc572c, 74px -38px #bc572c, 74px -40px #bc572c, 74px -42px #bc572c, 74px -44px #bc572c, 74px -46px #bc572c, 74px -48px #bc572c, 74px -50px #bc572c, 74px -54px #f0c9a6, 74px -56px #f0c9a6, 74px -58px #f0834f, 74px -60px #f0834f, 74px -62px #f0c9a6, 74px -64px #f0c9a6, 76px -2px #f0c9a6, 76px -4px #f0c9a6, 76px -6px #f0c9a6, 76px -8px #bc572c, 76px -10px #bc572c, 76px -12px #bc572c, 76px -14px #bc572c, 76px -16px #bc572c, 76px -18px #f0834f, 76px -36px #bc572c, 76px -38px #bc572c, 76px -40px #bc572c, 76px -42px #bc572c, 76px -44px #bc572c, 76px -46px #bc572c, 76px -48px #bc572c, 76px -50px #bc572c, 76px -54px #f0c9a6, 76px -56px #f0c9a6, 76px -58px #f0834f, 76px -60px #f0c9a6, 76px -62px #f0834f, 76px -64px #f0c9a6, 78px -2px #f0c9a6, 78px -4px #f0c9a6, 78px -6px #bc572c, 78px -12px #f0834f, 78px -14px #f0834f, 78px -16px #f0834f, 78px -36px #bc572c, 78px -38px #bc572c, 78px -40px #bc572c, 78px -42px #bc572c, 78px -44px #bc572c, 78px -46px #bc572c, 78px -48px #bc572c, 78px -50px #bc572c, 78px -54px #f0c9a6, 78px -56px #f0834f, 78px -58px #f0c9a6, 78px -60px #f0c9a6, 78px -62px #f0c9a6, 78px -64px #f0c9a6, 80px -2px #f0c9a6, 80px -4px #f0834f, 80px -6px #f0c9a6, 80px -38px #bc572c, 80px -40px #bc572c, 80px -42px #bc572c, 80px -44px #bc572c, 80px -46px #bc572c, 80px -48px #bc572c, 80px -50px #bc572c, 80px -54px #f0c9a6, 80px -56px #f0c9a6, 80px -58px #f0834f, 80px -60px #f0c9a6, 80px -62px #f0c9a6, 80px -64px #f0c9a6, 82px -2px #f0834f, 82px -4px #f0c9a6, 82px -6px #f0c9a6, 82px -38px #bc572c, 82px -40px #bc572c, 82px -42px #bc572c, 82px -44px #bc572c, 82px -46px #bc572c, 82px -48px #bc572c, 82px -50px #bc572c, 82px -52px #f0834f, 82px -54px #f0c9a6, 82px -56px #f0c9a6, 82px -58px #f0c9a6, 82px -60px #f0834f, 82px -62px #f0c9a6, 84px -2px #f0c9a6, 84px -40px #bc572c, 84px -42px #bc572c, 84px -44px #bc572c, 84px -46px #bc572c, 84px -48px #bc572c, 84px -50px #bc572c, 84px -52px #f0834f, 84px -54px #f0c9a6, 84px -56px #f0c9a6, 84px -58px #f0c9a6, 84px -60px #f0c9a6, 84px -62px #f0c9a6, 86px -42px #bc572c, 86px -44px #bc572c, 86px -46px #bc572c, 86px -48px #bc572c, 86px -50px #bc572c, 86px -52px #bc572c, 86px -54px #f0834f, 86px -56px #f0c9a6, 86px -58px #f0c9a6, 86px -60px #f0c9a6, 88px -42px #bc572c, 88px -44px #bc572c, 88px -46px #bc572c, 88px -48px #bc572c, 88px -50px #bc572c, 88px -52px #f0834f, 88px -54px #f0834f, 88px -56px #f0834f, 88px -58px #f0c9a6, 88px -60px #f0c9a6, 90px -44px #bc572c, 90px -46px #bc572c, 90px -48px #bc572c, 90px -50px #bc572c, 90px -52px #bc572c, 90px -54px #bc572c, 90px -56px #f0c9a6, 90px -58px #f0c9a6, 90px -60px #f0c9a6, 92px -46px #bc572c, 92px -48px #bc572c, 92px -50px #bc572c, 92px -52px #f0834f, 92px -54px #bc572c, 92px -56px #bc572c; }

/* --------------------------------

xBackground

-------------------------------- */
body {
  /* this is the page background */
  background-color: #000000; }

/* --------------------------------

xPatterns

-------------------------------- */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  background: #000000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px; }

/* --------------------------------

xNavigation

-------------------------------- */
header {
  background-color: #4DCBDE; }

.cd-logo {
  /* logo box style */
  background-color: #4DCBDE;
  width: 120px; }
  @media only screen and (min-width: 1024px) {
    .cd-logo {
      width: 180px; } }

.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #4DCBDE; }
  .cd-main-nav li a {
    color: #000000;
    border-color: #3a3ee0; }
  @media only screen and (min-width: 1024px) {
    .cd-main-nav li a {
      color: #d4d5f8; }
      .cd-main-nav li a.selected {
        color: #000000;
        box-shadow: 0 2px 0 #4DCBDE; }
      .no-touch .cd-main-nav li a:hover {
        color: #000000; } }

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #000000; }
  .cd-nav-trigger span::before, .cd-nav-trigger span::after {
    /* upper and lower lines */
    background-color: #000000; }

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: transparent; }
  .nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
    /* preserve visibility of upper and lower lines - close icon */
    background-color: black; }

.cd-download {
  /* download button top-right visible on big devices */
  background-color: #f18096; }
  .no-touch .cd-download:hover {
    background-color: #6669e7; }
  .cd-download span {
    /* tooltip */
    background: #4DCBDE;
    color: #000000; }
    .cd-download span::before {
      /* right arrow color */
      border-color: #4DCBDE; }

/* --------------------------------

xPage title

-------------------------------- */
main > h1 {
  color: #2428dc; }
  @media only screen and (min-width: 1600px) {
    main > h1 {
      /* title goes into the header on big devices */
      color: #000000; } }

/* --------------------------------

xTypography

-------------------------------- */
h1, h2 {
  font-family: Impact, Charcoal, sans-serif;
  color: #FFFFFF; }

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
  text-transform: uppercase; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.2rem; } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem; } }

h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 1em 0; }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 1.8rem;
      margin: 1em 0 1.4em; } }

section > h2::before {
  /* number before each section title */
  color: #d9d9d9; }

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #FFFFFF; }
  p a {
    color: #4DCBDE;
    text-decoration: underline; }
    p a:hover {
      color: #EC5270; }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 1.6rem;
      line-height: 1.6; } }

/* --------------------------------

xButtons

-------------------------------- */
.btn {
  border: none;
  box-shadow: none;
  border-radius: .25em;
  font-size: 1.4rem;
  font-family: Impact, Charcoal, sans-serif;
  color: #000000;
  padding: .6em 2.2em;
  cursor: pointer;
  background: #4DCBDE; }
  .btn:focus {
    outline: none; }
  .no-touch .btn:hover {
    background: #63d1e2; }
  .btn.btn-success {
    background: #6fce72; }
    .no-touch .btn.btn-success:hover {
      background: #82d485; }
  .btn.btn-alert {
    background: #EC5270; }
    .no-touch .btn.btn-alert:hover {
      background: #ef6983; }
  .btn.btn-outline {
    color: #4DCBDE;
    background: transparent;
    box-shadow: inset 0 0 0 1px #4DCBDE; }
    .no-touch .btn.btn-outline:hover {
      color: #000000;
      background: #4DCBDE; }
  @media only screen and (min-width: 768px) {
    .btn {
      font-size: 1.6rem; } }

.cd-buttons .cd-box:nth-of-type(2) span {
  /* CSS class name color */
  color: #4DCBDE; }

/* --------------------------------

xIcons

-------------------------------- */
.cd-icons li {
  /* icons size */
  width: 32px;
  height: 32px; }

/* -------------------------------- 

xBasic style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, sans-serif;
  color: #FFFFFF; }

a {
  text-decoration: none;
  color: #4DCBDE; }
  a:hover {
    text-decoration: underline;
    color: #EC5270; }

img {
  max-width: 100%; }

input, textarea, select {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.6rem; }

header {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10; }
  header nav {
    display: inline-block; }
  @media only screen and (min-width: 1024px) {
    header {
      height: 80px; }
      header::after {
        clear: both;
        content: "";
        display: block; } }

.cd-logo {
  display: inline-block;
  height: 100%;
  position: relative; }
  .cd-logo img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  @media only screen and (min-width: 1600px) {
    .cd-logo {
      margin-left: 5%; } }

.cd-nav-trigger {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent; }
  .cd-nav-trigger span {
    position: absolute;
    height: 2px;
    width: 20px;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    -webkit-transition: background-color 0.3s 0.3s;
    -moz-transition: background-color 0.3s 0.3s;
    transition: background-color 0.3s 0.3s; }
    .cd-nav-trigger span::before, .cd-nav-trigger span::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform;
      -webkit-transition: transform 0.3s 0.3s;
      -moz-transition: transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s; }
    .cd-nav-trigger span::before {
      -webkit-transform: translateY(-6px);
      -moz-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
      -o-transform: translateY(-6px);
      transform: translateY(-6px); }
    .cd-nav-trigger span::after {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); }
  @media only screen and (min-width: 1024px) {
    .cd-nav-trigger {
      display: none; } }

.cd-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 50px 0;
  text-align: center;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  transition: transform 0.3s; }
  .cd-main-nav li a {
    display: block;
    font-size: 1.8rem;
    padding: 1em 0;
    border-bottom-width: 1px;
    border-style: solid; }
  .cd-main-nav li:first-of-type a {
    border-top-width: 1px; }
  @media only screen and (min-width: 1024px) {
    .cd-main-nav {
      position: static;
      display: table;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      width: auto;
      height: 80px;
      background: transparent;
      padding: 0 2em;
      text-align: left; }
      .cd-main-nav li {
        display: table-cell;
        vertical-align: middle;
        padding: 0 1em; }
      .cd-main-nav li a {
        display: inline-block;
        font-size: 1.6rem;
        padding: .4em .2em;
        border-bottom: none;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s; }
      .cd-main-nav li:first-of-type a {
        border-top: none; } }
  @media only screen and (min-width: 1600px) {
    .cd-main-nav {
      display: none; } }

.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }
.nav-is-visible .cd-main-nav {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

.cd-download {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px;
  background-image: url("../assets/icon-download.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .cd-download span {
    /* tooltip */
    position: absolute;
    right: 120%;
    top: 50%;
    margin-top: -20px;
    width: 140px;
    height: 40px;
    line-height: 40px;
    white-space: nowrap;
    text-align: center;
    font-size: 1.2rem;
    -webkit-transition: opacity .2s 0s, visibility 0s .2s;
    -moz-transition: opacity .2s 0s, visibility 0s .2s;
    transition: opacity .2s 0s, visibility 0s .2s; }
    .cd-download span::before {
      /* right arrow */
      content: '';
      position: absolute;
      top: 12px;
      left: 100%;
      height: 0;
      width: 0;
      border-width: 8px;
      border-style: solid;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent; }
  .no-touch .cd-download:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .2s 0s, visibility 0s 0s;
    -moz-transition: opacity .2s 0s, visibility 0s 0s;
    transition: opacity .2s 0s, visibility 0s 0s; }
  @media only screen and (min-width: 1024px) {
    .cd-download {
      display: block; }
      .cd-download span {
        opacity: 0;
        visibility: hidden; } }
  @media only screen and (min-width: 1600px) {
    .cd-download {
      right: 5%; } }

main {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 0; }
  main > h1 {
    text-align: center;
    margin: 3em 0; }
  @media only screen and (min-width: 1024px) {
    main {
      padding-top: 80px; } }
  @media only screen and (min-width: 1600px) {
    main {
      max-width: none;
      padding: 120px 0 50px; }
      main > h1 {
        position: fixed;
        top: 0;
        left: 50%;
        height: 80px;
        line-height: 80px;
        width: 400px;
        margin: 0 0 0 -200px;
        font-size: 2.6rem;
        z-index: 20; } }

section {
  margin: 3em 0; }
  section::after {
    clear: both;
    content: "";
    display: block; }
  section:nth-of-type(1) h2::before {
    content: '1. '; }
  section:nth-of-type(2) h2::before {
    content: '2. '; }
  section:nth-of-type(3) h2::before {
    content: '3. '; }
  section:nth-of-type(4) h2::before {
    content: '4. '; }
  section:nth-of-type(5) h2::before {
    content: '5. '; }
  section:nth-of-type(6) h2::before {
    content: '6. '; }
  section:nth-of-type(7) h2::before {
    content: '7. '; }
  section:nth-of-type(8) h2::before {
    content: '8. '; }
  section:nth-of-type(9) h2::before {
    content: '9. '; }
  section:nth-of-type(10) h2::before {
    content: '10. '; }
  @media only screen and (min-width: 768px) {
    section {
      margin: 3em 0 5em; } }
  @media only screen and (min-width: 1600px) {
    section {
      width: 48%;
      float: left;
      margin: 0 4% 4em 0; }
      section:nth-of-type(2n) {
        margin-right: 0; } }

/* xBranding section - basic style */
.cd-branding .cd-box {
  margin-bottom: 1em; }
.cd-branding img {
  display: block;
  width: 100%; }
.cd-branding ul:last-of-type {
  padding-top: .6em; }
  .cd-branding ul:last-of-type li {
    display: inline-block;
    margin-right: 1em; }
  .cd-branding ul:last-of-type li:nth-of-type(1) img {
    width: 90px;
    height: 90px;
    border-radius: 1em; }
  .cd-branding ul:last-of-type li:nth-of-type(2) img {
    width: 60px;
    height: 60px;
    border-radius: .6em; }
  .cd-branding ul:last-of-type li:nth-of-type(3) img {
    width: 32px;
    height: 32px;
    border-radius: .4em; }
  .cd-branding ul:last-of-type li:nth-of-type(4) img {
    width: 16px;
    height: 16px;
    border-radius: .2em; }
@media only screen and (min-width: 768px) {
  .cd-branding .cd-box {
    width: 49%;
    float: left;
    margin: 0 2% 2em 0; }
    .cd-branding .cd-box:nth-of-type(2n) {
      margin-right: 0; }
  .cd-branding ul:last-of-type {
    clear: left; }
    .cd-branding ul:last-of-type li {
      margin-right: 3em; } }

/* xColor section - basic style */
.cd-colors li {
  text-align: center;
  width: 48%;
  float: left;
  margin: 0 4% 1em 0; }
  .cd-colors li:nth-of-type(2n) {
    margin-right: 0; }
.cd-colors .cd-color-swatch {
  position: relative;
  width: 100%;
  padding: 50% 0; }
  .cd-colors .cd-color-swatch::before, .cd-colors .cd-color-swatch::after {
    /* lighter and darker color shades of the same swatch */
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 20%; }
  .cd-colors .cd-color-swatch::before {
    left: 0; }
  .cd-colors .cd-color-swatch::after {
    right: 0; }
.cd-colors b {
  display: block;
  padding: .6em 0; }
.cd-colors li:nth-of-type(1) .cd-color-swatch {
  background: #4DCBDE; }
  .cd-colors li:nth-of-type(1) .cd-color-swatch::before {
    background: #63d1e2; }
  .cd-colors li:nth-of-type(1) .cd-color-swatch::after {
    background: #37c5da; }
.cd-colors li:nth-of-type(2) .cd-color-swatch {
  background: #2428dc; }
  .cd-colors li:nth-of-type(2) .cd-color-swatch::before {
    background: #3a3ee0; }
  .cd-colors li:nth-of-type(2) .cd-color-swatch::after {
    background: #2023c7; }
.cd-colors li:nth-of-type(3) .cd-color-swatch {
  background: #EC5270; }
  .cd-colors li:nth-of-type(3) .cd-color-swatch::before {
    background: #ef6983; }
  .cd-colors li:nth-of-type(3) .cd-color-swatch::after {
    background: #e93b5d; }
.cd-colors li:nth-of-type(4) .cd-color-swatch {
  background: #FFFFFF; }
  .cd-colors li:nth-of-type(4) .cd-color-swatch::before {
    background: white; }
  .cd-colors li:nth-of-type(4) .cd-color-swatch::after {
    background: #f2f2f2; }
.cd-colors li:nth-of-type(5) .cd-color-swatch {
  background: #000000; }
  .cd-colors li:nth-of-type(5) .cd-color-swatch::before {
    background: #0d0d0d; }
  .cd-colors li:nth-of-type(5) .cd-color-swatch::after {
    background: black; }
@media only screen and (min-width: 768px) {
  .cd-colors li {
    width: 19%;
    float: left;
    margin: 0 1.25% 1em 0; }
    .cd-colors li:nth-of-type(2n) {
      margin-right: 1.25%; }
    .cd-colors li:nth-of-type(5n) {
      margin-right: 0; } }

.cd-typography .cd-box,
.cd-buttons .cd-box,
.cd-icons .cd-box,
.cd-form .cd-box {
  padding: 1em; }
  @media only screen and (min-width: 768px) {
    .cd-typography .cd-box .cd-box,
    .cd-buttons .cd-box .cd-box,
    .cd-icons .cd-box .cd-box,
    .cd-form .cd-box .cd-box {
      padding: 2em; } }

/* xTypography section - basic style */
.cd-typography h1::before {
  content: 'Aa - ';
  color: #FFFFFF; }

.cd-buttons .cd-box:first-of-type {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }
.cd-buttons .cd-box:last-of-type {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.cd-buttons button {
  margin: .4em; }
@media only screen and (min-width: 1024px) {
  .cd-buttons button {
    margin: 1em; } }

/* xIcons section - basic style */
.cd-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1em; }
.cd-icons .cd-icon-1 {
  background-image: url("../assets/icons/icon-1.svg"); }
.cd-icons .cd-icon-2 {
  background-image: url("../assets/icons/icon-2.svg"); }
.cd-icons .cd-icon-3 {
  background-image: url("../assets/icons/icon-3.svg"); }
.cd-icons .cd-icon-4 {
  background-image: url("../assets/icons/icon-4.svg"); }
.cd-icons .cd-icon-5 {
  background-image: url("../assets/icons/icon-5.svg"); }
.cd-icons .cd-icon-6 {
  background-image: url("../assets/icons/icon-6.svg"); }
.cd-icons .cd-icon-7 {
  background-image: url("../assets/icons/icon-7.svg"); }
.cd-icons .cd-icon-8 {
  background-image: url("../assets/icons/icon-8.svg"); }

/* xForm section - basic style */
.cd-form input[type=text],
.cd-form .cd-input-wrapper {
  margin: 1em; }
.cd-form .cd-input-wrapper {
  position: relative;
  display: inline-block; }
.cd-form select::-ms-expand {
  display: none; }

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox */
  .cd-select::after {
    display: none; } }
.no-csstransitions .cd-select::after {
  display: none; }

/*# sourceMappingURL=style-guide.css.map */
