// color palette - these colors will be the color swatches of the Colors section

$color-1: #4DCBDE; // Light Blue - Action color
$color-2: #2428dc; // Bright Blue
$color-3: #EC5270; // Pink
$color-4: #FFFFFF; // White
$color-5: #000000; // Black
$color-6: #F96E00; // Orange
$color-7: #FFD6AA; // LightOrange

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

