/* --------------------------------

xTypography Section

-------------------------------- */

.cd-typography > .cd-box{
  h1 {
    color: $color-5;
    background-color: $color-1;
    padding-left: 5px;
    &::before {
      content: 'Aa - ';
      color: $color-5;
    }
  }
  h2 {
    color: $color-3;
    background-color: $color-1;
    padding-left: 5px;
    text-shadow: -1.5px 1.5px #000000;
    height: 22px;
    font-size: 2.0rem;
    &::before {
      content: 'Aa - ';
      color: $color-3;
    }
  }
  h3 {
    text-transform: uppercase;
    &::before {
      content: 'Aa - ';
      color: $color-4;
    }
  }
}

/* --------------------------------

xGeneral Typography

-------------------------------- */

h1, h2, h3 {
  font-family: $secondary-font;
  color: $color-4;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
  text-transform: uppercase;

  @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}

h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 1em 0;

  @include MQ(S) {
    font-size: 1.6rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: darken($color-4, 15%);
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: $color-4;

  a {
    color: $color-1;
    &:hover {
        color: $color-3;
        text-decoration: underline;
    }
  }

  @include MQ(S) {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}