/* --------------------------------
xNavigation Section
-------------------------------- */

.sidebar {
  width: 25rem;
  height: 28rem;
  padding: 5px;
  border: solid 2px $primary-color;
  border-radius: 15px;
  background-color: $background-neutral-color;

  h3 {
    width: 11rem;
    position: relative;
    text-align: center;
    color: $secondary-color;
    background-color: $background-neutral-color;
    margin: -1rem auto .8rem auto;
    font-family: $primary-font;
    font-size: 1rem;
  }
  
  .wrapper {
    width: calc(100% - .4rem);
    height: calc(100% - .4rem);
    padding: 0 .5rem;
    position: relative;
    border: solid 2px $secondary-color;
    border-radius: 15px;
    margin: .2rem;
    div {
      margin: 0 0 2.5rem 0;
    }
  }
  
  ul {
    list-style: none;
  }
}